@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #ccf7f7;
    font-family: 'PT Serif', serif;
}

p {
    margin-top: 15px;
}

hr {
    background-color: rgb(203, 223, 221);
    height: 10px;
    margin-top: -5px;
    margin-bottom: -1px;
}

#header {
    margin: 0px;
    width: 700px;
    position: fixed;
    z-index: 2;
    text-align: right;
}

ul {
    list-style: none;
}

.nav li a {
    background-color: rgb(95, 233, 203);
    color: white;
    text-decoration: none;
    padding: 12px 11px;
    display: block;
}

.nav li a:hover {
    background-color: grey;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav > li {
    float: left;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right: -140px;
    top:0px;
}

.imagen {
    z-index: 1;
    position: relative;
    margin: 0px;
}

.texto {
    z-index: 1;
    position: relative;
    margin: 30px 20px 20px 20px;
    text-align: justify;
}
footer {
    background-color: #30cea1;
    color: #f7fffd;
    text-decoration: none;
    outline: 0;
    padding: auto;
    margin-top: 0;
}
.icon{
    color: white;
}
#datos a{
    color: white;
}
#volver{
	background-color: aquamarine;
    margin-bottom: 1%;
}